<div class="card" *ngIf="isLoading$ | async;else loadingFinished">
    <p-skeleton width="100%" class="col-3 xl:col-12 mb-5" height="14rem"></p-skeleton>
    <p-skeleton *ngFor="let i of [1,2,3,4] " width="100%" class="col-3 xl:col-12 mb-5" height="3rem"></p-skeleton>
</div>
<ng-template #loadingFinished>
    <ng-content></ng-content>
</ng-template>
