<div class="flex justify-content-around">
    <div>
        <H5>Cantidad de usuarios</H5> <br>
        <p-knob data-cy="amountOfUser"  [disabled]="true" [(ngModel)]="amountOfUser" [size]="200"></p-knob>
    </div>
    <div>
        <H5>Promedio de edad</H5>
        <p-knob data-cy="averageAge"  [disabled]="true" [(ngModel)]="averageAge" [size]="200"></p-knob>
    </div>
</div>