<p-card header="Lista de usuarios">
    <p-table [value]="users" [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let i of columnsTable">{{i}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.lastname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.age}}</td>
                <td>{{item.dateOfBirth.toDate() | date: 'dd-MM-YYYY'}}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-progressSpinner *ngIf="isLoading$ | async"></p-progressSpinner>
</p-card>