/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    background-image: linear-gradient(180deg, #f19583 0, #e68379 25%, #d86c6c 50%, #c95561 75%, #bd425b 100%);
}
