<p-card [header]="cardHeader" class="p-4">
    <form action="" [formGroup]="registerForm" (ngSubmit)="submit()">
        <span class="p-float-label">
            <input data-cy="input-name" id="float-input" type="text" pInputText formControlName="name">
            <label for="float-input">Nombre</label>
            <div
                *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
                <small *ngIf="registerForm.controls['name'].hasError('required')">Introduzca su nombre.</small>
            </div>
        </span>
        <span class="p-float-label mt-4">
            <input data-cy="input-lastname" id="float-input" type="text" pInputText formControlName="lastname">
            <label for="float-input">Apellido</label>
            <div
                *ngIf="registerForm.controls['lastname'].invalid && (registerForm.controls['lastname'].dirty || registerForm.controls['lastname'].touched)">
                <small *ngIf="registerForm.controls['lastname'].hasError('required')">Introduzca su apellido.</small>
            </div>
        </span>
        <span class="p-float-label mt-4">
            <input data-cy="input-email"  id="float-input" type="email" pInputText formControlName="email">
            <label for="float-input">Email</label>
            <div
                *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                <small
                    *ngIf="registerForm.controls['email'].hasError('required') || registerForm.controls['email'].hasError('email')">Introduzca
                    un email valido.</small>
            </div>
        </span>
        <span class="p-float-label mt-4">
            <input data-cy="input-password" id="float-input" type="password" pInputText formControlName="password">
            <label for="float-input">Clave</label>
            <div
                *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                <small *ngIf="registerForm.controls['password'].hasError('required')">Introduzca
                    su clave.</small>
            </div>
        </span>
        <span class="p-float-label mt-4">
            <input data-cy="input-age" id="float-input" type="number" pInputText formControlName="age">
            <label for="float-input">Edad</label>
            <div
                *ngIf="registerForm.controls['age'].invalid && (registerForm.controls['age'].dirty || registerForm.controls['age'].touched)">
                <small *ngIf="registerForm.controls['age'].hasError('required')">Introduzca su edad.</small>
            </div>
        </span>
        <span class="p-float-label mt-4">
            <p-calendar formControlName="dateOfBirth" dateFormat="dd.mm.yy"></p-calendar>
        </span>
        <button [disabled]="!registerForm.valid" pButton type="submit" icon="pi pi-user-plus" label="Registrar"
            class="mt-3"></button>
    </form>
</p-card>
<p-card header="Pantalla 3" class="p-4">
    <button data-cy="btn-open-modal" pButton label="Abrir modal" class="mt-3" (click)="openModal()"></button>
</p-card>
<p-toast></p-toast>